# Copy this file to .env and fill in values for local testing.
# .env is gitignored. GitHub Actions uses repository secrets instead.
# This is only if you want to run these locally.... to test the APIs

UOFT_UTORID=
UOFT_PASSWORD=
